*{
    margin: 0%;
}
.navbar{
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    color: white;
}
.imagenes{
    
    width: 15%;
}
.valorant{
    margin-left:10%;  
}
.logo{
    margin-left:30%; 
    border-radius: 50%;
}
.informacion{
    width: 70%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 80px;
}
.informacion > li {
    list-style: none;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 3%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.informacion > li:hover{
    box-sizing: border-box;
    border-bottom:2px solid rgb(248, 48, 82);
}
.informacion ul {
    display: none;
}
.informacion li:hover > ul{
    display: block;
}
.jugar{
    width: 10%;
}

.jugar button{
    width: 80%;
    font-size: 12px;
    height: 40px;
    border-radius: 2px;
    background-color: rgb(248, 48, 82);
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    border: rgb(248, 48, 82);;
}


.trailer{
    width: 100%;
    height: calc(100vh - 80px);
}
.absolute{
    width: 100%;
    height: 410px;
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center ;
    box-sizing: border-box;
}
.absolute p{
    color: rgb(245, 230, 202);
    width: 50%;
    height: 75px;
}
.absolute button{
    color: white;
    width: 5%;
    height: 50px;
    background-color: rgb(248, 48, 82);
}
.video_container {
    position: relative;
    height: 100%;
}

